* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1550px;
    margin: 0 auto;
}

.nav-items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.icon-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-text-container h2 {
    font-family: "Arimo", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color:  #0d1b2a;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #575757;
}

.common-button {
    background-color: #1d4ed8;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    height: 45px;
    width: 150px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.common-button:hover {
    background-color: #1e40af;
}


.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/banner.jpg');
    background-size: cover;
    background-position: center;
}

.banner-overlay-container {
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-contents-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 100px;
}

.hero-contents-container h1 {
    font-size: 58px;
    color: #ffffff;
}

.hero-contents-container p{
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 250px;
    padding: 0 470px;
}



.hero-button {
    background-color: #1d4ed8;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    height: 60px;
    width: 170px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero-button:hover {
    background-color: #1e40af;
}



.speaker {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}





.speaker > h2:first-child {
    color: #000102;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: 700;
}



.speakers-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    max-width: 1300px;
    gap: 30px;
}

.speaker-card {
    border: 1px solid lightgray;
    border-radius: 15px;
}

.speaker-image-container img {
    border-radius: 15px 15px 0 0;
}

.speaker-details-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 10px;
}

.speaker-details-container > p{
    color: #2563eb;
    font-weight: 600;
    font-size: 12px;
}

.speaker-details-container > h3 {
    color: #0d1b2a;
    font-weight: 700;
    font-size: 20px;
}

.speaker-details-container > h4 {
    color: #575757;
    font-weight: 400;
    font-size: 14px;
}


.pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.pricing-container > h2:first-child {
    color: #000102;
    font-size: 48px;
    margin-top: 150px;
    margin-bottom: 10px;
    font-weight: 700;
}

.pricing-container > p:first-child {
    color: #575757;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}